<link rel="stylesheet" href="app.css">
<h1> SNHU Recent News</h1>
<% posts.forEach( function (post) { %>
    <li> <%= post.title + "," %> by
        <strong>
            <%=post.author %>
        </strong>
    </li>
<% }) %>